html, :before {
  font-family: monospace;
}

html, body {
  margin: 0.25em;
  padding: 0;
}

html {
  font-size: .75em;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #c0c0c0;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  border: none;
  border-top-width: .25rem;
  border-top-style: solid;
}

.hide {
  display: none;
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 32em;
  padding-left: 1em;
  resize: vertical;
}

main {
  margin: 0 auto;
  max-width: 96em;
}
main img, main canvas, main input {
  width: 100%;
  display: block;
}
main input[type=checkbox] {
  width: initial;
}
main canvas {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2Nk+M/QwMDI0MAABYxgGkkQIoAkiBCACgIABm4HhEEa4PgAAAAASUVORK5CYII=");
}

.load #chromaImg, .load #roi, .load .ui {
  display: block;
}
.load canvas, .load .taint {
  display: none;
}
.load #edit:before, .load section:before {
  content: '';
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  background: url("data:image/gif;base64,R0lGODlhBgADAPABAICAgAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJFAABACwAAAAABgADAAACBkxggGfMBQAh+QQJFAABACwAAAAABgADAAACBQximHZbACH5BAUUAAEALAAAAAAGAAMAAAIFRGKXiVoAOw==") repeat-x top/1.5em;
  position: fixed;
  width: 100%;
  padding: .5em;
  font-size: 3rem;
  text-shadow: 0.05em 0.05em 0em #000, -0.05em -0.05em 0em #f00, -0.05em 0.05em 0em #0f0, 0.05em -0.05em 0em #00f;
  line-height: 0;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
}
.load section:before {
  content: attr(data-load);
  background: none;
  mix-blend-mode: normal;
  z-index: 3;
}

.ui {
  z-index: 4;
  position: fixed;
  font-size: 6rem;
  color: red;
  margin: -4rem 0 0 -2rem;
  text-shadow: 0 0.05em #000;
}
.ui #abort {
  display: none;
}

#roi {
  z-index: 3;
  pointer-events: none;
}

#color {
  z-index: 2;
  mix-blend-mode: multiply;
  -webkit-filter: blur(0.33em);
          filter: blur(0.33em);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

#depth {
  z-index: 1;
  opacity: 0;
}

#edit:hover canvas:not(#chromaImg) {
  opacity: 0;
}
#edit:hover canvas:not(#chromaImg)#depth {
  opacity: 1;
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}

.abs {
  position: absolute;
  background-image: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.w13 {
  width: 12.50%;
}

.w25 {
  width: 25.00%;
}

.w33 {
  width: 33.33%;
}

.w50 {
  width: 50.00%;
}

.w66 {
  width: 66.66%;
}

.w100 {
  width: 100%;
  clear: both;
}

.w13, .w25, .w33, .w50, .w66 {
  position: relative;
  float: left;
}
.w13.alignleft, .w25.alignleft, .w33.alignleft, .w50.alignleft, .w66.alignleft {
  float: left;
}
.w13.alignright, .w25.alignright, .w33.alignright, .w50.alignright, .w66.alignright {
  float: right;
}
.w13.aligncenter, .w25.aligncenter, .w33.aligncenter, .w50.aligncenter, .w66.aligncenter {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#inpaint {
  width: initial;
  display: inline-block;
  vertical-align: middle;
}

table.bar {
  table-layout: fixed;
  clear: both;
  width: 100%;
  height: 1.25rem;
  border-collapse: collapse;
  position: relative;
  z-index: 2;
}
table.bar tr, table.bar td, table.bar th {
  text-align: left;
}
table.bar th {
  width: 33.33%;
  font-weight: normal;
}
table.bar th span {
  float: right;
  text-align: right;
}
table.bar td {
  border-right: solid 1px #fff;
  color: transparent;
}
table.bar td:last-of-type {
  border-right-width: 0;
}
table.bar td:hover {
  color: #000;
  text-shadow: 0 .03em #fff;
}

fieldset {
  border: 0;
  border-top: .2rem solid #808080;
  margin: 0;
  padding: .25em 0;
  margin: .25em 0;
}

input[type=color] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  -webkit-transform: scale3d(2, 4, 1);
          transform: scale3d(2, 4, 1);
  border: 0;
  height: 1.5rem;
}

label {
  position: relative;
}

label[data-id]:before {
  content: attr(data-id);
  position: absolute;
  padding: 0em .5em;
  z-index: 1;
  display: block;
  width: 100%;
}

#default label, #mask label {
  overflow: hidden;
  width: 20%;
  cursor: pointer;
  display: inline-block;
  float: left;
}

#mask {
  max-height: 28rem;
}
#mask canvas {
  display: block;
}
#mask.col0 .cell {
  -webkit-box-flex: 0;
          flex: 0 1 12.5%;
  width: 12.5%;
}
#mask.col1 .cell {
  -webkit-box-flex: 0;
          flex: 0 1 25.0%;
  width: 25.0%;
}
#mask.col2 .cell {
  -webkit-box-flex: 0;
          flex: 0 1 50.0%;
  width: 50.0%;
}
#mask .row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#mask .cell {
  -webkit-box-flex: 0;
          flex: 0 1 12.5%;
  width: 12.5%;
  position: relative;
  float: left;
  padding-top: 1.5rem;
}
#mask .cell .hover {
  position: absolute;
  opacity: 0;
}
#mask .cell:hover .hover {
  opacity: 1;
}
#mask .cell input {
  height: 100%;
  mix-blend-mode: multiply;
  z-index: 1;
}
#mask .cell label, #mask .cell input, #mask .cell .hover {
  position: absolute;
  bottom: 0;
}
#mask label {
  width: 100%;
  height: 100%;
}

svg path.area {
  fill: rgba(255, 255, 255, 0.5);
  mix-blend-mode: overlay;
}
svg line, svg .point {
  stroke: #fff;
  stroke-width: 0.5;
  stroke-linecap: round;
}
svg .point {
  stroke-opacity: 0.5;
  fill-opacity: 0.5;
}
svg .point.active {
  fill-opacity: 1;
  stroke-opacity: 1;
  -webkit-animation: .25s linear 0s infinite alternate attn;
          animation: .25s linear 0s infinite alternate attn;
}
@-webkit-keyframes attn {
  to {
    stroke: #000;
  }
}
@keyframes attn {
  to {
    stroke: #000;
  }
}
svg text {
  font-size: 1em;
  text-anchor: middle;
}
svg .Spokes circle {
  fill: rgba(255, 255, 255, 0);
}